<h1> Edit <%= @student.name %> </h1>


<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :mod %>
  <%= f.number_field :mod, in: 1..5 %>
  <br>
  <%= f.submit  %>
<% end %>